/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  width: 20vw;
}

* {
  padding:0;
  margin:0;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #eee;
  font-size: 16px;
}

.header__menu {
  display: none;
}

.clearfix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
}

/*#workExperience,
#projects,
#education,
#mapDiv {
  display: none;
}*/

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #176bec;
  margin: 1em 0; padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  line-height: 48px;
  display: inline;
  text-transform: uppercase;
}

h1:hover {
  color: #176bec;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #000;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 16px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #fff;
  display: none;
}

.blue {
  color: #176bec;
}

.red {
  color: #d8432e;
}

.yellow {
  color: #ffb500;
}

.green {
  color: #009451;
}

.lightblue-text{
  color: #55acee;
}

.lightblue {
  background-color: #55acee;
}

.light {
  background-color: #eee;
}
. {
  background-color: #55acee;
}

.blue-text {
  color: #176bec;
}

.white-text {
  font-weight: bold;
  color: #eee;

}

.gray-text {
  font-weight: bold;
  color: #848484;
}

.gray {
  background-color: #d3d3d3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #090909;
}

#header {
  background-color: #252525;
  text-transform: uppercase;
}

/* flex-row for footer zocial icons*/
.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

#footerContacts a .gray-text:hover {
   cursor: pointer;
   text-decoration: underline;
   color: #fff;
}

#footerContacts li .gray-text:hover {
   color: #fff;
}

#role {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
  max-width: 100%;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 12px;
  text-transform: uppercase;
}

.nav li {
  color: #fff;
}

.nav li:hover {
  text-decoration: none;
  color: #000;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0.5em auto;
}

.nav a:hover {
  text-decoration: none;
  /*background-color: #d8432e;*/
  color: #000;
}


#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  color: blue;
  font-weight: bold;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom;
  }
  .nav {
    z-index: 10;
    background-color: #000;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #176bec;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 0.5em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  #twitter,
  #github {
    /*display: none;*/
  }
}

@media only screen and (max-width: 650px) {
  #location {
    /*display: none;*/
  }
  /* flex-column for footer zocial icons*/
  .flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  h1#name {
    font-size: 25px;
    line-height: 30px;
  }
  #role {
    font-size: 12px;
  }
}

@media only screen and (max-width: 420px) {
  #topContacts {
    font-size: 12px;
  }
}
